{{#partial "title"}}Add new Album!{{/partial}}

{{#partial "content"}}
    <h1>{{username}} please insert album info.</h1>

    <form action="/addAlbum" method="post">
        <input type="text" placeholder="Album title: " name="title">
        <input type="text" placeholder="Composer: " name="composer">
        <input type="text" placeholder="Orchestra: " name="orchestra">
        <input type="text" placeholder="Director: " name="director">
        <input type="text" placeholder="Main Performer: " name="mainPerformer">
        <input type="text" placeholder="Live or Studio: " name="liveStudio">
        <input type="text" placeholder="Year Performed: " name="year">
        <input type="text" placeholder="Album Quality: " name="quality">
        <button>Add Album</button>
    </form>

    <p><a href="/music-library">Back to Main Page</a></p>
{{/partial}}

{{>base.hbs}}