{{#partial "content"}}
    <h1>Welcome to my music library!</h1>
        <p>To access the library, please digit your username and email address</p>
    <form action="/index" method="post">
        <input type="text" placeholder="What is your username?" name="username">
        <input type="text" placeholder="What is your email address?" name="email">
        <button>Sign in</button>
    </form>
{{/partial}}

{{>base.hbs}}